
/* ESTILOS APLICACION */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* ESTILOS HOME */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-image-container {
  margin-top: 4rem; 
}

.logo-nana {
  margin-bottom: 1rem;
  width: 7rem;   
  height: 8rem;
}

.mb-4 {
  margin-bottom: 1rem;
}


.mb-3 {
  margin-bottom: 0.5rem;
}

.fw-normal {
  font-weight: normal;
}


.menu-container-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 10rem;
  margin-left: 10rem;
  
}

.menu-text {
  text-align: center;
  margin-top: 5px;
  white-space: nowrap; /* Evita el salto de línea */
}

.menu-button:not(:last-child) {
  margin-right: 60%;
}

/* MENU BUSQUEDA */

.busqueda-container {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  border: 1px solid #ccc; /* Borde del control de búsqueda */
  border-radius: 20px; /* Borde redondeado */
  padding: 5px; /* Añade un poco de espacio dentro del contenedor */
  width: 500px; /* Ancho del contenedor de búsqueda */
}

.search-icon {
  width: 30px; /* Ajusta el tamaño del icono de búsqueda según sea necesario */
  margin-right: 10px; /* Añade un pequeño margen entre el ícono y el input */
}

.search-input {
  flex-grow: 1; /* El input de búsqueda ocupa todo el espacio disponible */
  border: none; /* Quita el borde del input */
  outline: none; /* Quita el borde de enfoque del input */
  width: 0; /* Establece el ancho inicial del input a 0 */
}


/* PRODUCTO */


.card-container {
  width: 16rem;
  height: 16rem;
  margin-bottom: 0.5em; 
  margin-right: 0.5em;
  border: none;
}

.card-img {
  width: 6rem;
  height: 12rem;
  object-fit: cover;
}

.card-title {
  font-size: 10px;
}




/* MENU */

.center-content {
  display: flex;
  flex-direction: column; /* Cambia la dirección de apilamiento a vertical */
  justify-content: center;
  align-items: center;
}


/* DETALLE PRODUCTO */

.circular-image {
  border-radius: 50%;
  overflow: hidden;
  width: 14rem; 
  height: 14rem;
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsionar la relación de aspecto */
}

.control-aporte {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
}

.control-aporte-item {
  margin-right: 1.5rem;
  font-size: 1.4rem;

}


.control-aporte .icon {
  margin: 0 25px; /* Espacio entre los iconos y la imagen del sombrero */
  border-radius: 50%;
  overflow: hidden;
  width: 2rem; 
  height: 2rem;
  /* border: 1px solid black; */
  box-shadow: 0 0 5px 2px rgba(128, 128, 128, 0.5);
}


.control-aporte .sombrero-image {
  width: 5rem; 
  height: 5rem;
}

.container-detalle {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: center;
  padding: 0 20rem; /* Agrega un espacio a cada lado del contenedor */
}

.name-detalle {
  margin-right: auto;
  margin-bottom: 3rem;
}


.text-detalle-name {
  font-size: 20px; 
  margin-bottom: 2px;
 
}

.text-detalle-title {
  font-size: 20px; 

}

.control-rankin {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
}

.control-rankin-heart{
  width: 2rem; 
  height: 2rem;
}


.tabs-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 20rem;
}

.tabs {
  display: flex; /* Renderizar las pestañas en la misma línea */
}

.tab {
  cursor: pointer;
  padding: 20px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  flex-grow: 1; /* Ocupar todo el espacio disponible */
}

.tab.active {
  background-color: #f0f0f0;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  text-align: justify;
}

/* *********************************************** */
.icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.circular-button {
  width: 1.5em; /* Ajusta el tamaño según sea necesario */
  height: 1.5em; /* Ajusta el tamaño según sea necesario */
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.iconAmount {
  width: 100%; /* Asegura que la imagen ocupe todo el espacio dentro del botón */
  height: auto;
}


/* CREACION PRODUCTO */

.pick-image-container {
  width: 14rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #ccc; /* Opcional: añade un borde para visualización */
}

.pick-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


/* CREACION PRODUCTO */

.action-image {
  width: 1rem;
  height: 1rem;
}

